# Auto detect text files and perform LF normalization
* text=auto

# Bundled OpenOCD scripts
x3utils_linux/oocd/** linguist-vendored
x3utils_mac/xpack-openocd-*/** linguist-vendored
x3utils_win/oocd/** linguist-vendored

*.md text eol=lf